@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron text-center">
    <h2>Gerenciador de Tarefas</h2>
    <a class="btn btn-info btn-lg" href="@Url.Action("Index", "TaskListSuperoMvc")">Gerenciador de Tarefa Supero</a>
</div>